<div class="flex flex-col min-h-screen">
  <!-- Header -->
  <header class="bg-blue-700 text-white py-4 px-6 shadow-md">
    <div class="container mx-auto flex justify-between items-center">
      <h1 class="text-2xl font-bold">Angular Challenges</h1>

      <!-- Navigation -->
      <nav>
        <ul class="flex flex-wrap items-center gap-4">
          <li *ngFor="let challenge of challenges">
            <a [routerLink]="challenge.path" class="px-3 py-2 rounded-lg transition hover:bg-blue-800">
              {{ challenge.name }}
            </a>
          </li>

        </ul>
      </nav>
    </div>
  </header>

  <!-- Main Content -->
  <main class="flex-grow p-6 container mx-auto">
    <router-outlet />
  </main>

  <!-- Footer -->
  <footer class="bg-gray-800 text-white text-center py-3">
    © 2025 Angular Challenges. All Rights Reserved.
  </footer>
</div>